/*http://marriottgrandcaymanbeachhouse.com/*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

main {
  height: 90vh;
}

main .hero-img {
  height: 90vh;
  background-image: url(/images/hotel-front-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .hero-txt {
  position: absolute;
  top: 70%;
  left: 0;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  padding-left: 1rem;
  color: #fff;
}

main .hero-txt h1 {
  font-size: 3rem;
}

main .btn {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.541);
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  border-radius: 1px;
}

main .btn:hover {
  background-color: black;
  color: #bbbbbb;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  z-index: 2;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 40%;
  z-index: 9;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links li a {
  text-decoration: none;
  color: white;
}

nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 9;
}

nav .hamburger > div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .hamburger > div::before,
nav .hamburger > div::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav .hamburger > div::after {
  top: 5px;
}

nav .hamburger > div::before {
  top: -5px;
}

nav .active > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .active > div::before,
nav .active > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    margin: 0;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 60vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .hamburger > div {
    display: block !important;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section {
  height: 90%;
  margin: 10px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

section .ver {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-image: url(../images/beach.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section .hor {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  background-image: url(../images/bed-room.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section .cube-l {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-image: url(../images/food.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section .cube-r {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: #e4d6d6;
}
/*# sourceMappingURL=menu.css.map */