$color-1 : #FCCD04;
$color-2 : #A64AC9;
$color-3 : #FFB48f;
$color-4 : #F5E6CC;
$color-5 : #17E9E0;
/*http://marriottgrandcaymanbeachhouse.com/*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;

}

main {
    background-color: #FCCD04;
    height: 100vh;
}