/*$primary-color: #52B2CF;
$secondary-color:  #D1CFE2;
$1primary-color: #F4F482;
$2primary-color: #F7EDF0;
*/
/*http://marriottgrandcaymanbeachhouse.com/*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}